canvas {
    border: 1px solid black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.divCanvas {
    border: 1px solid black;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 50vh;           /* Makes the container the full height of the viewport */
    width: 100vw;
}

.divInputs, .divBtn {
    border: 1px solid black;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 5vh;
    width: 25vw;
}

input {
    margin-left: 5px;
    width: 25%;
}